@ -1,36 +0,0 @@
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/Debug/**
**/Release/**
**/Release*/**
**/_UpgradeReport*/**
*.sdf
**/ipch/**
*.sms
*.zip
*.gen
*.suo
*.opensdf

build/**
DistroWin/**
Distro360/**
*.log
libretro/snes9x/external/**
libretro/snes9x/win32/libpng/**
tools/*.exe
tools/*.idc
tools/XexTool.txt
production/**
*.pdb
*.xdb
*.bak
